target/
!.mvn/wrapper/maven-wrapper.jar
src/main/resources/client_secret.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

## System
.DS_Store